@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    height: 100vh;
    grid-template-areas: 
    "header header"
    "main main"
    "area_banner area_banner";
    grid-template-rows: 120px;
    font-family: Arial, Helvetica, sans-serif;
    
}
header{
    grid-area: header;
    background-image: url("./assets/fundo_menu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 20%;
    width: 100%;
    height: 8em;
    position: fixed;
    z-index: 1;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
nav div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-right: 40px;
}

nav a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 18px;
}
nav a:hover{
    color: rgb(190, 10, 10);
    text-decoration: underline;
}
nav img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    margin-left: 40px;
}
main{
   color: azure;
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #010101;
}
main img{
    width: 100%;
}
main h2{
    font-family: 'Poppins', sans-serif;
}
.area_banner{
    width: 100%;
    height: 200px;
    background-color: rgb(0, 8, 8);
background-image: url("./assets/area_banner.jpg");
background-position: 50%;
background-size: contain;
margin-top: -4px;
}
.inform{
    display: flex;
       gap: 40px;
}

.foto_perfil img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12em;
}

.inform div{
    display: flex;
   flex-direction: column;
   align-items: center;
  
}
.inform a{
    position: relative;
    text-decoration: none;
    color: azure;
     font-family: 'Poppins';
     bottom: 9%;
     
}
.inform .paragrafo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    max-width: 600px;
    line-height: 1.4;
    word-spacing: 2px;
}

.banner{
    margin-top: 3%;
    width: 100%;
    height: 200px;
    border-top: solid;
    background-color: rgb(0, 8, 8);

background-size: contain;
margin-bottom: 7%;
}
.season{
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
    margin-bottom: 5%;
    
}
.season img{
    width: 30%;
    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.season img:hover{
  
	transform: scale(0.9);
}
.character{
    display: none;
    gap: 2em;
    margin-bottom: 4%;
    justify-content: center;
 
  
}
.character img{
    width: 20%;
    margin-left: 5%;
}


.info_grup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
}
.info_grup p {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    line-height: 1.2;
    word-spacing: 2px;
}
.edification{
    display: flex;
    
    align-items: center;
    gap: 5%;
}
.edification{
    display: flex;
    gap: 5%;
}
.characters{
    display: none;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.characters img{
    width: 10%;
    
}
.ordemPlayer4{
display: none;

}
.credito{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    text-align: center;
}
.credito img{
    width: 50%;
}

.artista img{
    border-radius: 50%;
    width: 8em;
}
.artista{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.credito .icon{
    width: 20px;
}
.credito div {
    display: flex;
}
.credito p{
    text-align: center;
}
.credito a{
    text-decoration: none;
    color: white;
}
.credito a:hover{
    color: red;
}



            /* resposividade */

             /* @media ( max-width: 600px) {
                .area_banner{
                    position: relative;
                    bottom: 1%;
                    width: 100%;
                    height: 120px;
                    background-color: rgb(0, 8, 8);
                background-image: url("/assets/area_banner.jpg");
                background-position: 50%;
                background-size: contain;
                }
        .inform p{
           
            font-size: 14px;
        }
        .foto_perfil img{
            
            width: 10em;
        }
        .inform .paragrafo {
            text-indent: 0;
            font-size: 10px;    
            max-width: 300px;
        }
        .banner{
          
            width: 100%;
            height: 120px;
            border-top: solid;
            background-color: rgb(0, 8, 8);
        
        background-size: contain;
        margin-bottom: 7%;
        }
        .season img{
            width: 45%;
        }
        .character img{
            width: 20%;
            margin-left: 5%;
        }
        .character p {
           
            max-width: 310px;
            font-size: 13px;
         
        }
        
        .characters img{
            width: 12%;
            
        }
    }

    


  
    */

    @media (max-width:500px) {
        nav {
           
            justify-content: center;
            gap: 60px;
            
        }
        nav img{
          
          margin-top: 20px;
            width: 5em;
     
            margin-left: 0px;
           
        }
        nav a{
            font-size: 17px;
        }
        .area_banner{
            position: relative;
            bottom: 1%;
            width: 100%;
            height: 100px;
            background-color: rgb(0, 8, 8);
            background-image: url("/assets/area_banner.jpg");
            background-position: 0.1%;
            background-size: contain;
        }
        .inform{
            
            gap: 2px;
     }
     .inform p{
         font-size: 12px;
     }
     .foto_perfil img{
         
         width: 10em;
     }
       .paragrafo {
         font-size: 10px;    
         max-width: 300px;
     }
     .banner{
        width: 100%;
        height: 100px;
        border-top: solid;
        background-color: rgb(0, 8, 8);
    }
    .season img{
        width: 45%;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .character img{
        width: 25%;
        margin-left: 5%;
    }
    .characters img{
        width: 12%;
        
    }
    .character{
        display: none;
        gap: 25px;
        margin-bottom: 4%;
     
      
    }
    .character p {
       
        max-width: 300px;
        font-size: 11px;
     
    }
    }

    @media (max-width:414px) {
        nav {
           
            justify-content: center;
            gap: 25px;
            
        }
        nav img{
          
          margin-top: 20px;
            width: 6em;
     
            margin-left: 0px;
           
        }
        nav a{
            font-size: 17px;
        }

        .area_banner{
            position: relative;
            bottom: 1%;
            width: 100%;
            height: 100px;
            background-color: rgb(0, 8, 8);
            background-image: url("/assets/area_banner.jpg");
            background-position: 0.1%;
            background-size: contain;
        }
        .inform{
            
               gap: 6px;
        }
        .inform p{
            font-size: 10px;
        }
        .foto_perfil img{
            
            width: 8em;
        }
        .inform   .paragrafo {
            font-size: 10px;    
            max-width: 200px;
        }

        .banner{
            width: 100%;
            height: 100px;
            border-top: solid;
            background-color: rgb(0, 8, 8);
        }
        .season img{
            width: 45%;
            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }

        .character img{
            width: 22%;
            margin-left: 5%;
        }
        
        .characters img{
            width: 11%;
            
        }
        .character{
            display: none;
            gap: 25px;
            margin-bottom: 4%;
         
          
        }
        .character p {
           
            max-width: 400px;
            font-size: 11px;
         
        }

        .credito img{
            width: 45%;
        }
        
        .artista img{
            width: 8em;

        }
        .artista{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            font-size: 14px;
            
        }
    }
    @media (max-width: 375px) {
        nav {
           
            justify-content: center;
            gap: 20px;
            
        }
        nav img{
          
          margin-top: 20px;
            width: 90px;
     
            margin-left: 0px;
           
        }
        nav a{
            font-size: 15px;
        }

        .area_banner{
            position: relative;
            bottom: 1%;
            width: 100%;
            height: 100px;
            background-color: rgb(0, 8, 8);
            background-image: url("/assets/area_banner.jpg");
            background-position: 0.1%;
            background-size: contain;
        }
        .inform{
            
               gap: 6px;
        }
        .inform p{
            font-size: 10px;
        }
        .foto_perfil img{
            
            width: 6em;
        }
        .inform   .paragrafo {
            text-indent: 0;
            font-size: 11px;    
            max-width: 300px;
        }
        .banner{
          
            width: 100%;
            height: 120px;
            border-top: solid;
            background-color: rgb(0, 8, 8);
        
        background-size: contain;
        margin-bottom: 7%;
        }

        .season img{
            width: 46%;
        }
        .character img{
            width: 20%;
            margin-left: 5%;
        }
        
        .characters img{
            width: 11%;
            
        }
        .character{
            display: none;
            gap: 30px;
            margin-bottom: 4%;
         
          
        }
        .character p {
           
            max-width: 220px;
            font-size: 10px;
         
        }

        .credito{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            text-align: center;
    
        }
        .credito img{
            width: 50%;
        }
        
        .artista img{
            border-radius: 50%;
            width: 6em;

        }
        .artista{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            font-size: 14px;
            
        }
        .credito .icon{
            width: 20px;
        }
        .credito div {
            display: flex;
        }
        .credito p{
            text-align: center;
        }
        .credito a{
            text-decoration: none;
            color: white;
        }
        .credito a:hover{
            color: red;
        }
        
    }